.container {
    min-height: 100vh; width: 100vw;
    background: linear-gradient(#2d97d8, #ffff48);
}
.hHome {
    animation: go-back 1s infinite;
}
.hHome:hover {
    animation: none;
}

    @keyframes go-back {
        0% {
            transform: translateX(10px);
        }
        50% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(10px);
        }
    }